:root{
    /* Colors */
    /* Background */
    --color-background: #f0f0f7;
    /* Primary */
    --color-primary: #ca675e;
    --color-primary-light: #F26F63;
    --color-primary-lighter: #ff7f74;
    --color-primary-dark: #c54b40;
    --color-primary-darker: #b34136;

    /* Secondary */
    --color-secondary: #4B99F2;
    --color-secondary-dark: #4489d8;
    --color-secondary-darker: #3b74b6;

    /* Bases */
    --color-1: #A63D33;
    --color-1-darker: #E0F27C;
    --color-2: #3C6DA6;
    --color-2-darker: #4BF295;
    --white: #fff;
    --black: #000;
    --cinza: rgb(134, 134, 134);

    /* Font */
    font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    /* height: 100vh; */
}

body{
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

